<template>
  <h1>Create short link</h1>
  <ui-alert v-show="showSuccessMessage" state="success">{{ successMessage }}</ui-alert>
  <ui-alert v-show="showErrorMessage" state="error">{{ errorMessage }}</ui-alert>
  <ui-form action-align="center">
    <template #default="{ subitemClass, actionClass }">
      <ui-form-field :class="subitemClass">
        <label>Url</label>
        <ui-textfield v-model="form.url_original" label="Url" placeholder="http://google.com" required></ui-textfield>
      </ui-form-field>
      <br/>
      <ui-form-field :class="actionClass">
        <ui-button :disabled="loading" type="raised" @click="createShort">Save</ui-button>
      </ui-form-field>
    </template>
  </ui-form>
</template>
<script>

export default {
  name: 'CreateShort',
  data() {
    return {
      form: {
        url_original: ""
      },
      loading: false,
      showSuccessMessage: false,
      showErrorMessage: false,
      successMessage: "Short link created successfully",
      errorMessage: "Something went wrong"
    }
  },
  methods: {
    createShort: function () {
      this.loading = true
      this.$axios.post('/short/create', this.form)
          .then((res) => {
            if (res.request.status === 201) {
              this.showSuccessMessage = true
              this.showErrorMessage = false
              this.form.url_original = ""
            }
          })
          .catch((err) => {
            console.log(err.response.data)
            this.errorMessage = err.response.data
            this.showSuccessMessage = false
            this.showErrorMessage = true

          })
          .then(() => {
            this.loading = false
          });
    }
  }
}
</script>