<template>
  <h1>List of short links</h1>
  <ui-table :data="data" :tbody="tbody" :thead="thead"></ui-table>
  <br>
  <ui-pagination
      v-model="page"
      :total="total"
      position="center"
      show-total
      @update:model-value="loadData($event)"
  ></ui-pagination>
</template>
<script>

export default {
  name: 'ListShort',
  data() {
    return {
      data: [],
      total: 0,
      pageSize: 0,
      page: 1,
      thead: [
        'ID',
        'URL',
        'DATE'
      ],
      tbody: ['id', 'url', 'date'],
      loading: false,
    }
  },
  created() {
    this.loadData(this.page)
  },
  methods: {
    loadData: function (page) {
      this.loading = true
      this.$axios.get('/short/list?page=' + page)
          .then((res) => {
            if (res.request.status === 200) {
              if (res.data.data == null) {
                this.data = []
              } else {
                this.data = res.data.data
              }

              this.total = res.data.total
              this.pageSize = res.data.page_size
            }
          })
          .catch((err) => {
            console.log(err)
          })
          .then(() => {
            this.loading = false
          });
    }
  }
}
</script>