<template>
  <div class="page-top-app-bar">
    <ui-top-app-bar
        content-selector="#content-main"
        title="AlexPa"
        type="0"
        @nav="openDrawer = true"
    >

    </ui-top-app-bar>

    <ui-drawer v-model="openDrawer" type="modal">
      <ui-drawer-header>
        <ui-drawer-title>Menu</ui-drawer-title>
      </ui-drawer-header>
      <ui-drawer-content>
        <ui-list>
          <ui-item v-bind:class="{ 'mdc-deprecated-list-item--selected': $route.path == '/' }" @click="goTo('/')">
            <ui-item-first-content>
              <ui-icon>home</ui-icon>
            </ui-item-first-content>
            <ui-item-text-content>Home</ui-item-text-content>
          </ui-item>
          <ui-list-divider></ui-list-divider>
          <ui-item v-bind:class="{ 'mdc-deprecated-list-item--selected': $route.path == '/short/create' }"
                   @click="goTo('/short/create')">
            <ui-item-first-content>
              <ui-icon>note_add</ui-icon>
            </ui-item-first-content>
            <ui-item-text-content>Create link</ui-item-text-content>
          </ui-item>
          <ui-list-divider></ui-list-divider>

          <ui-item v-bind:class="{ 'mdc-deprecated-list-item--selected': $route.path == '/short/' }"
                   @click="goTo('/short/')">
            <ui-item-first-content>
              <ui-icon>list</ui-icon>
            </ui-item-first-content>
            <ui-item-text-content>List of links</ui-item-text-content>
          </ui-item>
          <ui-list-divider></ui-list-divider>
        </ui-list>
      </ui-drawer-content>
    </ui-drawer>

    <div id="content-main">
      <router-view/>
    </div>
  </div>

</template>

<script>
export default {
  name: 'App',
  components: {},
  data() {
    return {
      openDrawer: false
    }
  },
  methods: {
    goTo: function (addr) {
      this.openDrawer = false;
      this.$router.push(addr);
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 0px;
}

body {
  margin: 0px;
}

#content-main {
  padding: 10px;
}
</style>
